<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title><%= resume.name  %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api-reference">API Reference</a></li>
                <li><a href="/update">Update Information</a></li>
                <li><a href="https://github.com/neilmcgu/resume-api-template">Source Code</a></li>
            </ul>
        </nav>
    </header>
    <h1>API Reference</h1>
    <aside>
        <p>Please note: this is a work in progress</p>
        <p>If you would like to help build this webpage please make a pull request on <a href="https://github.com/neilmcgu/resume-api-template">Github</a></p>
    </aside>
    <section class="routes">
        <h2>Get all resume fields</h2> 
        <code>
            GET /resume
        </code>

        <h2>Get contact information</h2> 
        <code>
            GET /resume
        </code>

        <h2>Get education</h2> 
        <code>
            GET /education
        </code>
        <h2>Get experience</h2> 
        <code>
            GET /experience
        </code>
        <h2>Get projects</h2> 
        <code>
            GET /projects
        </code>
        <h2>Get skills</h2> 
        <code>
            GET /skills
        </code>
        <h2>Get socials</h2> 
        <code>
            GET /socials
        </code>
    </section>

</body>
</html>