<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title><%= resume.name  %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api-reference">API Reference</a></li>
                <li><a href="/update">Update Information</a></li>
                <li><a href="https://github.com/neilmcgu/resume-api-template">Source Code</a></li>
            </ul>
        </nav>
    </header>
    <h1>Update Resume</h1>
    <aside>
        <p>Please note: this is a work in progress</p>
        <p>If you would like to help build this webpage please make a pull request on <a href="https://github.com/neilmcgu/resume-api-template">Github</a></p>
    </aside>
    <form action="" method="POST">
        <input type="text">
        <button>Submit</button>
    </form>

</body>
</html>